body {
  font-family: 'Work Sans', sans-serif; }
  body .header {
    background-image: url("../images/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 700px; }
  body .container .row .image1-wrapper {
    width: 100%; }
    body .container .row .image1-wrapper img {
      width: 90%; }
  body .container .row .col-md-4 .subarea {
    fill: #EADCCF; }
  body .container .row .regionslist li {
    margin-bottom: 7px; }
  body .container .row .region_link_list {
    color: black; }
    body .container .row .region_link_list:hover {
      color: rgba(0, 0, 0, 0.623); }
