.navbar {
  max-width: 1600px;
  margin: auto;
  text-transform: uppercase;
  padding: 20px 10px 20px 15px; }
  .navbar img {
    width: 40px;
    height: 33px;
    margin-right: 10px; }
  .navbar .navbar-brand {
    font-size: 22px; }
  .navbar #navbar-icons {
    flex-direction: row; }
    .navbar #navbar-icons:hover {
      transition: all 0.2s ease-in-out; }
  .navbar .v-line {
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    height: 20px;
    margin: 10px 5px 0px 5px; }
  .navbar .nav-item .rubrik {
    margin-right: 40px; }
    .navbar .nav-item .rubrik:hover {
      color: rgba(0, 0, 0, 0.5);
      transition: all 0.2s ease-in-out; }
    .navbar .nav-item .rubrik.clicked::after {
      width: 100%;
      background-color: #EADCCF; }
  .navbar .nav-item .rubrik::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease; }
  .navbar .nav-item .nav-link {
    color: rgba(0, 0, 0, 0.5);
    padding-right: 5px; }
  .navbar button {
    border: none; }
    .navbar button .hamburger {
      width: 30px;
      margin: 7px 0px 7px 0px;
      border-bottom: 1px solid; }

.line {
  border-bottom: 1px solid rgba(82, 82, 82, 0.5); }

body {
  font-family: 'Work Sans', sans-serif; }
  body .header {
    background-image: url("../images/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 700px; }
  body .container .row .panels {
    position: relative; }
    body .container .row .panels .panels-icon {
      position: absolute;
      float: left; }
      body .container .row .panels .panels-icon img {
        width: 40px; }
    body .container .row .panels .panels-text {
      padding-left: 50px; }
  body .container .row .photographers-list li a {
    text-decoration: none;
    color: black; }
    body .container .row .photographers-list li a:hover {
      color: rgba(0, 0, 0, 0.5); }
  body .container .row .subarea-header {
    padding-left: 0;
    padding-right: 0; }
    body .container .row .subarea-header h5 {
      padding-bottom: 50px;
      border-bottom: 1px solid rgba(82, 82, 82, 0.5); }
  body .container .row .col-md-4 .subarea {
    fill: #EADCCF; }
  body .container .row .region_link_list {
    color: black; }
    body .container .row .region_link_list:hover {
      color: rgba(0, 0, 0, 0.623); }
  body .container .row .subarea-info {
    padding-top: 50px;
    padding-bottom: 50px; }
  body .container .row .subarea-photographers {
    min-height: 550px;
    border-bottom: 1px solid rgba(82, 82, 82, 0.5); }
    @media (min-width: 600px) {
      body .container .row .subarea-photographers {
        min-height: 450px; } }
    @media (min-width: 968px) {
      body .container .row .subarea-photographers {
        min-height: 550px; } }
  body .container .row .img-city-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media (min-width: 600px) {
      body .container .row .img-city-wrapper {
        padding-top: 100px; } }
    @media (min-width: 968px) {
      body .container .row .img-city-wrapper {
        display: block; } }
    body .container .row .img-city-wrapper img {
      box-shadow: 0px 0px 2px 0px #0000008e;
      width: 70%;
      margin-bottom: 50px; }
    @media (min-width: 600px) {
      body .container .row .img-city-wrapper img {
        width: 100%; } }
    @media (min-width: 968px) {
      body .container .row .img-city-wrapper img {
        position: absolute;
        margin-bottom: 0;
        width: 40%; }
      body .container .row .img-city-wrapper #img-nrbtn1 {
        top: 115px;
        right: 0; }
      body .container .row .img-city-wrapper #img-nrbtn2 {
        z-index: 1;
        top: 100px;
        right: 200px; }
      body .container .row .img-city-wrapper #img-vbtn1 {
        right: 0;
        top: 100px;
        z-index: 1; }
      body .container .row .img-city-wrapper #img-vbtn2 {
        right: 200px;
        top: 70px; }
      body .container .row .img-city-wrapper #img-jland1 {
        right: 0;
        top: 100px;
        z-index: 1; }
      body .container .row .img-city-wrapper #img-jland2 {
        right: 200px;
        top: 180px; }
      body .container .row .img-city-wrapper #img-vnrld1 {
        right: 0;
        top: 100px;
        z-index: 1; }
      body .container .row .img-city-wrapper #img-vnrld2 {
        right: 300px;
        top: 230px; }
      body .container .row .img-city-wrapper #img-gavle1 {
        right: 0;
        top: 100px; }
      body .container .row .img-city-wrapper #img-gavle2 {
        right: 200px;
        top: 180px; }
      body .container .row .img-city-wrapper #img-dalarna1 {
        right: 0;
        top: 100px;
        z-index: 1; }
      body .container .row .img-city-wrapper #img-dalarna2 {
        right: 200px;
        top: 160px; }
      body .container .row .img-city-wrapper #img-vland1 {
        right: 200px;
        top: 130px; }
      body .container .row .img-city-wrapper #img-vland2 {
        right: 0;
        top: 100px;
        z-index: 1; }
      body .container .row .img-city-wrapper #img-orebro1 {
        right: 0;
        top: 100px; }
      body .container .row .img-city-wrapper #img-orebro2 {
        right: 180px;
        top: 270px; }
      body .container .row .img-city-wrapper #img-vest1 {
        right: 0;
        top: 100px;
        z-index: 1; }
      body .container .row .img-city-wrapper #img-vest2 {
        right: 150px;
        top: 250px; }
      body .container .row .img-city-wrapper #img-upp1 {
        right: 280px;
        top: 100px; }
      body .container .row .img-city-wrapper #img-upp2 {
        right: 0;
        top: 220px; }
      body .container .row .img-city-wrapper #img-sthlm1 {
        right: 0;
        top: 100px;
        z-index: 1; }
      body .container .row .img-city-wrapper #img-sthlm2 {
        right: 200px;
        top: 60px; }
      body .container .row .img-city-wrapper #img-sland1 {
        right: 0;
        top: 280px;
        z-index: 1; }
      body .container .row .img-city-wrapper #img-sland2 {
        right: 200px;
        top: 60px; }
      body .container .row .img-city-wrapper #img-sborg1 {
        right: 0;
        top: 70px; }
      body .container .row .img-city-wrapper #img-sborg2 {
        right: 170px;
        top: 320px; }
      body .container .row .img-city-wrapper #img-ostland1 {
        right: 0;
        top: 100px; }
      body .container .row .img-city-wrapper #img-ostland2 {
        right: 200px;
        top: 270px; }
      body .container .row .img-city-wrapper #img-gbg1 {
        right: 180px;
        top: 80px; }
      body .container .row .img-city-wrapper #img-gbg2 {
        right: 30px;
        top: 150px;
        z-index: 1; }
      body .container .row .img-city-wrapper #img-aborg1 {
        right: 0;
        top: 100px;
        z-index: 1; }
      body .container .row .img-city-wrapper #img-aborg2 {
        right: 200px;
        top: 60px; }
      body .container .row .img-city-wrapper #img-jkoping1 {
        right: 0;
        top: 100px; }
      body .container .row .img-city-wrapper #img-jkoping2 {
        right: 200px;
        top: 300px; }
      body .container .row .img-city-wrapper #img-kalmar1 {
        right: 0;
        top: 100px; }
      body .container .row .img-city-wrapper #img-kalmar2 {
        right: 300px;
        top: 250px; }
      body .container .row .img-city-wrapper #img-gotland1 {
        right: 0;
        top: 100px;
        z-index: 1; }
      body .container .row .img-city-wrapper #img-gotland2 {
        right: 250px;
        top: 60px; }
      body .container .row .img-city-wrapper #img-halland1 {
        right: 77px;
        top: 300px;
        z-index: 1; }
      body .container .row .img-city-wrapper #img-halland2 {
        right: 200px;
        top: 60px; }
      body .container .row .img-city-wrapper #img-kberg1 {
        right: 120px;
        top: 230px;
        z-index: 1; }
      body .container .row .img-city-wrapper #img-kberg2 {
        right: 0px;
        top: 100px; }
      body .container .row .img-city-wrapper #img-blekinge1 {
        right: 0;
        top: 310px;
        z-index: 1; }
      body .container .row .img-city-wrapper #img-blekinge2 {
        right: 200px;
        top: 60px; }
      body .container .row .img-city-wrapper #img-skane1 {
        right: 190px;
        top: 50px;
        z-index: 1; }
      body .container .row .img-city-wrapper #img-skane2 {
        right: 0;
        top: 90px; } }

.page-footer {
  background-color: #EADCCF;
  padding: 20px 0px 10px 0px; }
  .page-footer .list-unstyled {
    height: 20px;
    padding: 0px 3px; }
    .page-footer .list-unstyled .list-inline-item .footer-links {
      color: rgba(0, 0, 0, 0.5);
      padding: 5px;
      cursor: pointer; }
      .page-footer .list-unstyled .list-inline-item .footer-links:hover {
        text-decoration: none;
        color: black;
        transition: all 0.2s ease-in-out; }
    .page-footer .list-unstyled .list-inline-item .separator {
      border-right: 1px solid rgba(0, 0, 0, 0.5); }
    .page-footer .list-unstyled .list-inline-item:nth-child(3) .separator {
      border-right: none; }
      @media (min-width: 600px) {
        .page-footer .list-unstyled .list-inline-item:nth-child(3) .separator {
          border-right: 1px solid rgba(0, 0, 0, 0.5); } }
  .page-footer #cookie-policy {
    display: none;
    cursor: pointer; }
    @media (min-width: 600px) {
      .page-footer #cookie-policy {
        display: inline-block; } }

body .about-us-header {
  background-image: url("../images/about-us-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 600px; }

body .about-us-wrapper .about-img-wrapper {
  width: 100%; }
  body .about-us-wrapper .about-img-wrapper img {
    width: 100%; }

body .about-row a {
  color: black;
  font-weight: bold; }
  body .about-row a:hover {
    color: rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
    text-decoration: none; }

body .about-row .img-background-wrapper {
  background-image: url("../images/camera.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 550px; }

body .container .img-photographer-wrapper {
  width: 100%; }
  body .container .img-photographer-wrapper img {
    width: 100%; }
  body .container .img-photographer-wrapper .hover-div {
    position: relative;
    z-index: 100;
    background: rgba(0, 0, 0, 0); }
    body .container .img-photographer-wrapper .hover-div:hover img {
      background: rgba(0, 0, 0, 0.719);
      filter: brightness(40%);
      transition: all 0.5s; }
    body .container .img-photographer-wrapper .hover-div .photographer-info {
      color: white;
      font-weight: bold;
      position: absolute;
      opacity: 0;
      z-index: 1000;
      left: 47%;
      top: 43%;
      transform: translate(-47%, -43%); }
    body .container .img-photographer-wrapper .hover-div .show-profile {
      text-transform: uppercase;
      color: white;
      font-weight: bold;
      position: absolute;
      opacity: 0;
      z-index: 1000;
      left: 47%;
      top: 57%;
      transform: translate(-47%, -57%);
      border-bottom: 2px solid pink; }
    body .container .img-photographer-wrapper .hover-div:hover .photographer-info {
      opacity: 1;
      transition: all 1s; }
    body .container .img-photographer-wrapper .hover-div:hover .show-profile {
      opacity: 1;
      transition: all 1s; }

body .container .connect-wrapper .img-wrapper {
  width: 100%; }
  body .container .connect-wrapper .img-wrapper img {
    width: 100%; }

body .container .connect-wrapper h4, body .container .connect-wrapper h5 {
  display: inline-block;
  border-bottom: 2px solid #EADCCF; }

body .contact-us-header {
  background-image: url("../images/contact-header.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 65% 35%;
  height: 650px; }

body .contact-container .row a {
  color: black;
  font-weight: bold; }
  body .contact-container .row a:hover {
    color: rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
    text-decoration: none; }

body .contact-container .row .img-wrapper img {
  width: 100%;
  margin: auto; }

body .contact-row a {
  color: black;
  font-weight: bold; }
  body .contact-row a:hover {
    color: rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
    text-decoration: none; }

body .contact-row .img-background-wrapper {
  background-image: url("../images/camera.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 550px; }

body .cookies-header {
  background-image: url("../images/cookies.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 70% 30%;
  height: 700px; }
