$animate: all 0.2s ease-in-out;

body {
    .about-us-header {
        background-image: url("../images/about-us-header.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 600px;
    }
    .about-us-wrapper {
        .about-img-wrapper {
            width: 100%;
            img {
                width: 100%;
            }
        }
    }
    .about-row {
        a {
            color: black;
            font-weight: bold;
            &:hover {
                color: rgba(0, 0, 0, .5);
                transition: $animate;
                text-decoration: none;
            }
        }
        .img-background-wrapper {
            background-image: url("../images/camera.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            height: 550px;
            width: 100%;
        }
        button {
            color: rgba(0, 0, 0, .5);
            padding: 10px 7px;
            text-transform: uppercase;
            border-radius: 1px;
            background-color: #EADCCF;
        }
    }
}