body {
    .cookies-header {
        background-image: url("../images/cookies.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 70% 30%;
        height: 700px;
    }
}