@mixin tablet {
    @media (min-width: 600px) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: 968px) {
        @content;
    }
}

$animate: all 0.2s ease-in-out;

.page-footer {
    background-color: #EADCCF;
    padding: 20px 0px 10px 0px;

    .list-unstyled {
        height: 20px;
        padding: 0px 3px;

        .list-inline-item {
            .footer-links {
                color: rgba(0, 0, 0, .5);
                padding: 5px;
                cursor: pointer;
                font-size: 3vw;
                @include tablet() {
                    font-size: 2vw;
                }
                @include desktop() {
                    font-size: 1vw;
                }

                &:hover {
                    text-decoration: none;
                    color: black;
                    transition: $animate;
                }
            }

            .separator {
                border-right: 1px solid rgba(0, 0, 0, .5);
            }
        }

        .list-inline-item:nth-child(3) .separator {
            border-right: none;

            @include tablet() {
                border-right: 1px solid rgba(0, 0, 0, .5);
            }
        }
    }

    #cookie-policy {
        display: none;
        cursor: pointer;

        @include tablet() {
            display: inline-block;
        }
    }
}