@mixin tablet {
    @media (min-width: 600px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 968px) {
        @content;
    }
}

body {
    font-family: 'Work Sans', sans-serif;
    .header {
        background-image: url("../images/header.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 700px;
    }
    .container {
        .row {
            .panels {
                position: relative;
                .panels-icon {
                    position: absolute;
                    float: left;
                    img {
                        width: 40px;
                    }
                }
                .panels-text {
                    padding-left: 50px;
                }
            }
            .subarea-header {
                padding-left: 0;
                padding-right: 0;
                h5 {
                    padding-bottom: 50px;
                    border-bottom: 1px solid rgba(82, 82, 82, 0.5);
                }
            }
            .col-md-4 {
                .subarea {
                    fill: #EADCCF;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            .region_link_list {
                color: black;
                &:hover {
                    cursor: pointer;
                    color: rgba(0, 0, 0, 0.623);
                }
            }
            .subarea-info {
                padding-top: 50px;
                padding-bottom: 50px;
                a {
                    font-weight: bold;
                    text-decoration: none;
                    color: black;
                    &:hover {
                        // text-decoration: underline;
                        color: rgba(0, 0, 0, .5);
                    }
                }
            }
            .subarea-photographers {
                min-height: 550px;
                border-bottom: 1px solid rgba(82, 82, 82, 0.5);
                @include tablet(){
                    min-height: 450px;
                }
                @include desktop(){
                    min-height: 600px;
                }
            }
            .img-city-wrapper {
                position: relative;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: auto;
                @include tablet(){
                    padding-top: 100px;
                }
                @include desktop(){
                    display: block;
                }
                img {
                    box-shadow: 0px 0px 2px 0px #0000008e;
                    width: 70%;
                    margin-bottom: 50px;
                }
                @include tablet(){
                    img {
                        width: 100%;
                    }
                }
                @include desktop(){
                    img {
                        position: absolute;
                        margin-bottom: 0;
                        width: 40%;
                    }
                    #img-nrbtn1 {
                        top: 40px;
                        right: 0;
                    }
                    #img-nrbtn2 {
                        z-index: 1;
                        top: 30px;
                        right: 200px;
                    }
                    #img-vbtn1 {
                        right: 0;
                        top: 60px;
                        z-index: 1;
                    }
                    #img-vbtn2 {
                        right: 200px;
                        top: 30px;
                    }
                    #img-jland1 {
                        right: 0;
                        top: 70px;
                        z-index: 1;                        
                    }
                    #img-jland2 {
                        right: 200px;
                        top: 150px;
                    }
                    #img-vnrld1 {
                        right: 0;
                        top: 70px;
                        z-index: 1;
                    }
                    #img-vnrld2 {
                        right: 300px;
                        top: 200px;
                    }
                    #img-gavle1 {
                        right: 0;
                        top: 50px;
                    }
                    #img-gavle2 {
                        right: 200px;
                        top: 130px;
                    }
                    #img-dalarna1 {
                        right: 0;
                        top: 40px;
                        z-index: 1;
                    }
                    #img-dalarna2 {
                        right: 200px;
                        top: 100px;
                    }
                    #img-vland1 {
                        right: 200px;
                        top: 80px;
                    }
                    #img-vland2 {
                        right: 0;
                        top: 50px;
                        z-index: 1;
                    }
                    #img-orebro1 {
                        right: 0;
                        top: 30px;
                    }
                    #img-orebro2 {
                        right: 180px;
                        top: 200px;
                    }
                    #img-vest1 {
                        right: 0;
                        top: 60px;
                        z-index: 1;
                    }
                    #img-vest2 {
                        right: 150px;
                        top: 210px;
                    }
                    #img-upp1 {
                        right: 280px;
                        top: 60px;
                    }
                    #img-upp2 {
                        right: 0;
                        top: 180px;
                    }
                    #img-sthlm1 {
                        right: 0;
                        top: 70px;
                        z-index: 1;
                    }
                    #img-sthlm2 {
                        right: 200px;
                        top: 10px;
                    }
                    #img-sland1 {
                        right: 0;
                        top: 220px;
                        z-index: 1;
                    }
                    #img-sland2 {
                        right: 200px;
                        top: 0px;
                    }
                    #img-sborg1 {
                        right: 0;
                        top: -20px;
                    }
                    #img-sborg2 {
                        right: 170px;
                        top: 230px;
                    }
                    #img-ostland1 {
                        right: 0;
                        top: 30px;
                    }
                    #img-ostland2 {
                        right: 200px;
                        top: 200px;
                    }
                    #img-gbg1 {
                        right: 180px;
                        top: 10px;
                    }
                    #img-gbg2 {
                        right: 30px;
                        top: 80px;
                        z-index: 1;
                    }
                    #img-aborg1 {
                        right: 0;
                        top: 50px;
                        z-index: 1;
                    }
                    #img-aborg2 {
                        right: 200px;
                        top: 10px;
                    }
                    #img-jkoping1 {
                        right: 0;
                        top: 20px;
                    }
                    #img-jkoping2 {
                        right: 200px;
                        top: 220px;
                    }
                    #img-kalmar1 {
                        right: 0;
                        top: 30px;
                    }
                    #img-kalmar2 {
                        right: 300px;
                        top: 180px;
                    }
                    #img-gotland1 {
                        right: 0;
                        top: 20px;
                        z-index: 1;
                    }
                    #img-gotland2 {
                        right: 250px;
                        top: -20px;
                    }
                    #img-halland1 {
                        right: 77px;
                        top: 200px;
                        z-index: 1;
                    }
                    #img-halland2 {
                        right: 200px;
                        top: -40px;
                    }
                    #img-kberg1 {
                        right: 120px;
                        top: 130px;
                        z-index: 1;
                    }
                    #img-kberg2 {
                        right: 0px;
                        top: 0px;
                    }
                    #img-blekinge1 {
                        right: 0;
                        top: 250px;
                        z-index: 1;
                    }
                    #img-blekinge2 {
                        right: 200px;
                        top: 0px;
                    }
                    #img-skane1 {
                        right: 190px;
                        top: -20px;
                        z-index: 1;
                    }
                    #img-skane2 {
                        right: 0;
                        top: 20px;
                    }
                }
            }
        }
    }

    .scroll-button {
        display: none;
        cursor: pointer;
        scroll-behavior: smooth;
        background-color: #EADCCF;
        border-radius: 50%;
        border: 1px solid #EADCCF;
        position: fixed;
        bottom: 5vh;
        right: 20px;
        width: 50px;
        height: 50px;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 25px;
            height: 25px;
        }
    }
}