@mixin tablet {
    @media (min-width: 600px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 968px) {
        @content;
    }
}

$animate: all 0.2s ease-in-out;

.navbar {
    max-width: 1600px;
    margin: auto;
    text-transform: uppercase;
    padding: 20px 10px 20px 15px;

    img {
        width: 40px;
        height: 33px;
        margin-right: 10px;
    }

    .navbar-brand {
        font-size: 20px;
        @include tablet(){
            font-size: 2vw;
        }
        @include desktop(){
            font-size: 1.5vw;
        }
    }

    #navbar-icons {
        flex-direction: row;

        &:hover {
            transition: $animate;
        }
    }

    .v-line {
        border-right: 1px solid rgba(0, 0, 0, .5);
        height: 20px;
        margin: 10px 5px 0px 5px;

    }

    .nav-item {
        @include tablet(){
            font-size: 2vw;
        }
        @include desktop(){
            font-size: 1vw;
        }
        .rubrik {
            &:hover {
                color: rgba(0, 0, 0, .5);
                transition: $animate;
            }
            &.clicked::after {
                width: 100%;
                background-color:  #EADCCF;
            }
        }
        .rubrik::after {
            content: '';
            display: block;
            height: 2px;
            width: 0;
            background: transparent;
            transition: width .5s ease, background-color .5s ease;
        }

        .nav-link {
            color: rgba(0, 0, 0, .5);
        }
    }

    button {
        border: none;

        .hamburger {
            width: 30px;
            margin: 7px 0px 7px 0px;
            border-bottom: 1px solid;

        }
    }
}

.line {
    border-bottom: 1px solid rgba(82, 82, 82, 0.5);

}